body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#board {
  width: 323px;
  height: 325px;
  border: 2px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: 79px;
  height: 79px;
  border: 0.5px solid lightblue;
}


#pieces {
  width: 645px;
  height: 162px;
  border: 2px solid purple;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#pieces img {
  width: 79px;
  height: 79px;
  border: 0.5px solid lightblue;
}
